html {
    padding: 0;
    margin: 0;
    font-size: 24px;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-image: url("../images/Dice_Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1030px;
    margin: 0 auto;
}

main {
    background-color: #000000AA;
    width: 99%;
    height: 99%;
    color: white;
    border: 1px solid white;
}

h1 {
    font-size: clamp(2.2rem, 5vw, 3rem);
    font-family: 'Kanit', sans-serif;
}

h2 {
    font-family: 'Kanit', sans-serif;
}

p,
label {
    padding: 0.5rem;
}

input,
select {
    font-size: 1rem;
}

button {
    font-size: 1rem;
    font-family: 'Kanit', sans-serif;
    padding: 0 1rem;
    margin: 0 auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}